doctype html
html

  include ./layouttop.jade

  .container 
    .row 
      .col-md-2.dark-teal.height750.font-normal
      .col-md-2.font-normal
       .row
        .col-md-1
        .col-md-10.holdsForm
          .row.auctionForm.topOfForm
            .col-sm-12
              p Limit Your Search By: 
          .row.auctionForm 
            .col-sm-12
              hr
          .row.auctionForm 
            .col-sm-5
              p Condition
            .col-sm-7  
              .radio
              input(type='radio', name='condition')
              label New
              .radio
              input(type='radio', name='condition')
              label Gently Used
          .row.auctionForm 
            p Size:
            .col-sm-6
              .radio
              input(type='radio', name='size')
              label 4
              .radio
              input(type='radio', name='size')
              label 5
              .radio
              input(type='radio', name='size')
              label 6
              .radio
              input(type='radio', name='size')
              label 7
            .col-sm-6
              .radio
              input(type='radio', name='size')
              label 8
              .radio
              input(type='radio', name='size')
              label 9
              .radio
              input(type='radio', name='size')
              label 10
              .radio
              input(type='radio', name='size')
              label 11
          .row.auctionForm
            p Season 
            .col-sm-1
            .col-sm-10
              .radio
              input(type='radio', name='season')
              label All Seasons
              .radio
              input(type='radio', name='season')
              label Spring
              .radio
              input(type='radio', name='season')
              label Summer
              .radio
              input(type='radio', name='season')
              label Fall
              .radio
              input(type='radio', name='season')
              label Winter
            .col-sm-1
          .row.auctionForm
            p Type
            .col-sm-1
            .col-sm-10
              .radio
              input(type='radio', name='type')
              label Any
              .radio
              input(type='radio', name='type')
              label One-Piece
              .radio
              input(type='radio', name='type')
              label Tops
              .radio
              input(type='radio', name='type')
              label Bottoms
              .col-sm-1
            .row.auctionForm.bottomOfForm
        .col-md-1
      .col-md-6
        .row
          each item in items
            .col-md-3
              img.auctionImg(src='#{item.image}')
              h5 #{item.title}
              h6 #{item.type}
      .col-md-2.dark-teal.height750

    .row
      .col-md-2.dark-teal.height106
      .col-md-8.height106.rounded-border-bottom-right.rounded-border-bottom-left.white
      .col-md-2.dark-teal.height106
  
  include ./layoutbottom.jade
