<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <script type="text/javascript">
      if (foo) {
         bar(1 + 5)
      }
    </script>
    <script href="js/main.js"></script>
  </head>
  <body>
    <h1>Jade - node template engine</h1>
    <div id="container" class="col">
      <p>Get on it!</p>
      <p>
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
        
      </p>
    </div>
    <!-- inline javascript and interpolation-->
    <ul>
      <li class="product faded">Product 1</li>
      <li class="product faded">Product 2</li>
      <li class="product faded">Product 3</li>
      <li class="product faded">Product 4</li>
      <li class="product faded">Product 5</li>
    </ul>
    <!-- inline javascript with conditionals-->
    <p>Dude, you're old</p>
    <!-- other ways to iterate over arrays-->
    <ul>
      <li>position 1: cyan</li>
      <li>position 2: yellow</li>
      <li>position 3: magenta</li>
    </ul>
  </body>
</html>