doctype html
html

  include ./layouttop.jade

  .container
    .row 
      .col-md-2.dark-teal.height500
      .col-md-4.height500
        p.green-text We're making one aspect of life easier for parents of multiples:
        img(src='/images/images/homepage/owl_44_44.png').img-responsive
        p buying and selling gently used sets of clothes!
        img(src='/images/images/homepage/left_2_shop_now.png').img-responsive
        img(src='/images/images/homepage/tree.png').img-responsive.pull-right.tree.padding-top-125px
      .col-md-4.height500
        img(src='/images/images/children/twins.jpg').img-responsive.padding-top-25px
        img(src='/images/images/children/triplets.jpg').img-responsive.padding-top-10px
        img(src='/images/images/children/quads.jpg').img-responsive.padding-top-10px
      .col-md-2.dark-teal.height500
    .row
      .col-md-2.dark-teal.height22
      .col-md-8.height22.dots
      .col-md-2.dark-teal.height22
    .row
      .col-md-2.dark-teal.height106
      .col-md-8.height106.rounded-border-bottom-right.rounded-border-bottom-left.white
        img(src='/images/images/homepage/facebook_callout.png').img-responsive.col-md-3
        img(src='/images/images/homepage/twitter_callout.png').img-responsive.col-md-3
        img(src='/images/images/homepage/message_board_callout.png').img-responsive.col-md-3
        img(src='/images/images/homepage/special_offers_callout.png').img-responsive.col-md-3
      .col-md-2.dark-teal.height106

  include ./layoutbottom.jade





