.row.dark-teal
  .col-md-3
  .col-md-6
    ul.nav.navbar.center-nav
      li.col-md-2 Link
      li.col-md-2 Link
      li.col-md-2 Link
      li.col-md-2 Link
      li.col-md-2 Link
      li.col-md-2 Link
  .col-md-3
.row
  .col-md-12
block content2
