<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- My Custom Style -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Jquery --> 
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <h1><%= title %></h1>
    
    <p><%= bodyt %></p>
  <form id="main" method="POST" action="/todo">
    <label for="title"> Title(required): </label>
    <textarea class= form-control id="title" name="titletext" type="text"></textarea>
    <br>
    <!-- required -->

    <label for="description"> Description(required): </label>
    <textarea class= form-control id="description" name="destext" type="text"></textarea>
    <br>
<!--     required
 -->
 <label for="priority"> Priority: </label>
 <select class="form-control" id="priority" name="priority" type="number">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
    
  <hr>
    <label for="duedate"> Due Date: </label>
     <input type="date" name="due_date">
    
	<input type="checkbox" name="complete" value="true"> 
  <label> Completed? </label>
<br>

	<input class= btn btn-default id="submitbutton" type="submit" value="Submit"> </input>
</form> 
  </body>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>
     <!-- My Customer JS -->
    <!-- Validate -->

    <!--     To JSON -->
    <script src="/javascripts/toJSON.js"></script>
    
  
</html>
