<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- My Custom Style -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Jquery --> 
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- My Customer JS -->
    <script src="/javascripts/myscript.js"></script>
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <h1><%= title %></h1>
    
    <p><%= bodyt %></p>
  <form id="main" method= "post">
    <label for="title"> Title(required): </label>
    <textarea class= form-control id="title" name="titletext" required></textarea>
    <br>
    
    <label for="description"> Description(required): </label>
    <textarea class= form-control id="description" name="destext" required></textarea>
    <br>

    <div class="btn-group">
      <button type="button" class="btn btn-info">Priority Level</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Top #1</a></li>
        <li><a href="#">#2</a></li>
        <li><a href="#">#3</a></li>
        <li><a href="#">#4</a></li>
        <li><a href="#">Low #5</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    
  <hr>
    <label for="duedate"> Due Date: </label>

   
            <div class="form-group" id="datePicker" name="datePicker">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

    
	<input type="checkbox" name="complete" value="donezo"> 
  <label> Completed? </label>
<br>

	<input class= btn btn-default id="submitbutton" type="submit" value="Submit"> 
  </body>
</form>

    <!-- Date Picker -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
      <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/d004434a5ff76e7b97c8b07c01f34ca69e635d97/src/js/bootstrap-datetimepicker.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>
</html>
